body {
  font-family: Arial;
  padding: 40px;
  background: #f5f5f5;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
}

label {
  display: block;
  margin: 8px 0;
}

input {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
